%h2=@form.name
%p=@form.description

= simple_form_for [@form, @submission] do |f|
  - @form.elements.each_with_index do |element, index|
    
    = f.input element.name.to_sym, 
      as: element.element_type.to_sym,
      collection: element.options,
      label: element.label, 
      input_html: { class: 'xxlarge' }

  = f.button :submit, class: 'btn primary'

= link_to 'Back to forms', forms_path