%h2=element.label

%table
  %thead
    %tr
      %th Choices
      %th Percentage
      %th Count

  %tbody
    - element.options.each do |option|
      - option_count = element.option_counts[option.value]
      %tr
        %td=option
        %td
          ="#{percentage(@submissions.count, option_count)}%"
        %td= option_count

%h3
  = total(@submissions.count, element)