%h2 Responses

- if @qualitative_elements.any?
  = render partial: 'qualitative_elements'

= render partial: 'quantitative_element', collection: @quantitative_elements, :as => :element

= link_to 'Back to forms', forms_path